#api-content .plus_btn {
	display: none;
}

#api-view > .row {
	margin-bottom: 20px;
}

#api-view h1 {
	float: left;
	margin-bottom: 0;
}

#api-view .api-urls {
	cursor: pointer;
	float: right;
	margin-top: 5px;
}

#api-view h3 {
	text-align: left;
}

#api-view table {
	margin-bottom: 0;
}

#api-view h1 > small {
	font-size: 12px;
	margin-left: 10px;
}

#api-view .hide {
	display: none;
}

#api-view .toggle-all {
	margin-top: 6px;
}

#api-view .details {
	margin-left: 150px;
	cursor: pointer;
	color: #0AC9FF;
}

#api-view form .clearfix:last-child {
	margin-bottom: 18px;
}

#api-view .whapp-header {
	background: #333333;
	border: 1px solid #252525;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 2px;
}

#api-view .whapp-header.active {
	/*background: #373737;
	background: -moz-linear-gradient(top, #373737 0, #2E2E2E 50%, #2F2F2F 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #373737),color-stop(50%, #2E2E2E),color-stop(100%, #2F2F2F));
	background: -webkit-linear-gradient(top, #373737 0, #2E2E2E 50%, #2F2F2F 100%);
	background: -o-linear-gradient(top, #373737 0, #2E2E2E 50%, #2F2F2F 100%);
	background: -ms-linear-gradient(top, #373737 0, #2E2E2E 50%, #2F2F2F 100%);
	background: linear-gradient(top, #373737 0, #2E2E2E 50%, #2F2F2F 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#373737',endColorstr='#2f2f2f',GradientType=0);*/
}

#api-view .whapp-header small {
	color: #dedede;
	font-size: 13px;
	margin-left: 20px;
}

#api-view .whapp-header small:last-child {
	color: #888888;
	float: right;
	font-size: 12px;
	letter-spacing: .09em;
	margin-left: 0;
	margin-right: 15px;
	margin-top: 9px;
}

#api-view .clean {
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
}

#api-view .toggled {
	margin-top: 5px;
	margin-bottom: 0;
}

#api-view .pill-content > div:not(.result) {
	display: block;
}

#api-view pre {
	color: #404040;
	margin-top: 20px;
}

#api-view .id {
	margin-bottom: 18px;
}

#api-view .details_clean {
	float: left;
}

.info-popup {
	background: none;
}

.info-popup .main_content {
	width: auto;
}

/******************* NEW DEV TOOL CODE (JoshS) ********************/

#dev_home {
	margin: 0 0 0 49px;
	width: 1090px;
}

#dev_intro {
	padding-top: 40px;
	margin-bottom: 70px;
}

#dev_intro p {
	font-size: 14px;
	font-weight: lighter;
	line-height: 20px;
	text-shadow: 1px 2px #363636;
	margin-bottom: 9px;
}

.api-btn {
	background-color: #333333;
	border: 1px solid #2a2a2a;
	border-radius: 5px;
	display: inline-block;
	height: 150px;
	margin: 0 40px 40px 0;
	position: relative;
	width: 170px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.api-btn:hover {
	background: #333333; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #333333 20%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,#333333), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #333333 20%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #333333 20%,#262626 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #333333 20%,#262626 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #333333 20%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border: 1px solid #05ADDC;
}

.api-btn:hover .api_name {
	color: #05ADDC;
}

.api-btn a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.icon_wrap {
	text-align: center;
}

.api_icon {
	display: inline-block;
	width: 100px;
	height: 75px;
	background-image: url('../img/API_IconSheet.png');
	background-repeat: no-repeat;
	margin-top: 20px;
}

.api_name {
	text-align: center;
	padding-top: 25px;
	font-weight: lighter;
	color: #cccccc;
}

.api_icon.accounts { background-position: 0 0; }
.api_icon.callflows { background-position: -100px 0px; }
.api_icon.conferences { background-position: -200px 0px; }
.api_icon.devices { background-position: -300px 0px; }
.api_icon.directories { background-position: -400px 0px; }
.api_icon.global_resources { background-position: -500px 0px; }
.api_icon.limits { background-position: -600px 0px; }
.api_icon.local_resources { background-position: 0 -75px; }
.api_icon.media { background-position: -100px -75px; }
.api_icon.menus { background-position: -200px -75px; }
.api_icon.phone_numbers { background-position: -300px -75px; }
.api_icon.queues { background-position: -400px -75px; }
.api_icon.servers { background-position: -500px -75px; }
.api_icon.temporal_rules { background-position: -600px -75px; }
.api_icon.user_auth { background-position: 0 -150px; }
.api_icon.users { background-position: -100px -150px; }
.api_icon.vmboxes { background-position: -200px -150px; }

/* the following styles are for 'Toggle All Methods' button */
#api-view .unchange {
	cursor: pointer;
	color: #999999;
	text-decoration: none;
}

#api-view .unchange:hover {
	color: #ffffff;
}

#api-view .toggleWhite {
	color: #ffffff;
}

#api-view .methods-toggle {
	margin-top: 60px;
	margin-bottom: -5px;
	text-align: left;
}
/*************************************************/

.credentials-btn {
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top, #cccccc 25%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#cccccc), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cccccc 25%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cccccc 25%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cccccc 25%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cccccc 25%,#999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#999999',GradientType=0 ); /* IE6-9 */

	border: 1px solid #333333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: inset 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px rgba(255,255,255,0.5);

	color: #333333;
	font-size: 14px;
	padding: 10px 15px;

	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	-moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}

.credentials-btn:hover {
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
	
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
}

.APIrequest_btn {
	border-radius: 4px;
	color: #252525;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	min-width: 110px;
	text-align: left;
	padding: 8px 0 7px 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	box-shadow: inset 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px rgba(255,255,255,0.5);
}

.APIrequest_btn:hover{
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
}

#api-view .whapp-header .getAll_btn {
	background: #74e007; /* Old browsers */
	background: -moz-linear-gradient(top, #74e007 25%, #61bc04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#74e007), color-stop(100%,#61bc04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #74e007 25%,#61bc04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #74e007 25%,#61bc04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #74e007 25%,#61bc04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #74e007 25%,#61bc04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74e007', endColorstr='#61bc04',GradientType=0 ); /* IE6-9 */
}

#api-view .whapp-header .get_btn {
	background: #ccff00; /* Old browsers */
	background: -moz-linear-gradient(top, #ccff00 25%, #aed805 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#ccff00), color-stop(100%,#aed805)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ccff00 25%,#aed805 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ccff00 25%,#aed805 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ccff00 25%,#aed805 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ccff00 25%,#aed805 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff00', endColorstr='#aed805',GradientType=0 ); /* IE6-9 */
}

#api-view .whapp-header .put_btn {
	background: #faa61a; /* Old browsers */
	background: -moz-linear-gradient(top, #faa61a 25%, #da8e0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#faa61a), color-stop(100%,#da8e0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #faa61a 25%,#da8e0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #faa61a 25%,#da8e0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #faa61a 25%,#da8e0f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #faa61a 25%,#da8e0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#da8e0f',GradientType=0 ); /* IE6-9 */
}

#api-view .whapp-header .post_btn {
	background: #f2701a; /* Old browsers */
	background: -moz-linear-gradient(top, #f2701a 25%, #d25a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f2701a), color-stop(100%,#d25a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2701a 25%,#d25a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2701a 25%,#d25a0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2701a 25%,#d25a0b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2701a 25%,#d25a0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2701a', endColorstr='#d25a0b',GradientType=0 ); /* IE6-9 */
}

#api-view .whapp-header .delete_btn {
	background: #fa181b; /* Old browsers */
	background: -moz-linear-gradient(top, #fa181b 25%, #da1416 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#fa181b), color-stop(100%,#da1416)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fa181b 25%,#da1416 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fa181b 25%,#da1416 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fa181b 25%,#da1416 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fa181b 25%,#da1416 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa181b', endColorstr='#da1416',GradientType=0 ); /* IE6-9 */
}

#api-view .whapp-header .APIrequest_btn .arrow {
	background-image: url('../img/ArrowRight.png');	
	background-repeat: no-repeat;
	background-position-y: 1px;
	display: inline-block;
	float: right;
	height: 12px;
	margin-right: 10px;
	width: 12px;
}

#api-view .whapp-header .APIrequest_btn.activated .arrow {
	background-image: url('../img/ArrowDown.png');
}










